<!DOCTYPE html>
<html>
<head>
    <title>TAKE THE QUIZ </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Answer the Questions</h1>
    <form action="{{ url_for('submit_answers', category_id=category_id) }}" method="POST">
        <input type="hidden" name="category_id" value="{{ category_id }}">
        {% for q in questions %}
            <div>
                <p><strong>Q{{ loop.index }}:</strong> {{ q.question_text }}</p>
                <input type="radio" name="question_{{ q.id }}" value="1" required> {{ q.option1 }}<br>
                <input type="radio" name="question_{{ q.id }}" value="2"> {{ q.option2 }}<br>
                <input type="radio" name="question_{{ q.id }}" value="3"> {{ q.option3 }}<br>
            </div>
            <hr>
        {% endfor %}

        <button type="submit">Submit Answers</button>
    </form>
</body>
</html>